* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Tahoma, sans-serif;
  background:
    radial-gradient(circle at top right,
      rgba(124,58,237,.25),
      transparent 40%),
    #0f172a;
  color: white;
}

#app {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 100px 20px;
}

h1 {
  font-size: 70px;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 24px;
  color: #cbd5e1;
  line-height: 1.8;
  max-width: 800px;
  margin: auto;
}

.counter {
  margin-top: 50px;
}

.counter-number {
  font-size: 50px;
  font-weight: bold;
  color: #a855f7;
}

.counter-text {
  color: #94a3b8;
  margin-top: 10px;
}

.progress-box {
  margin-top: 25px;
  background: rgba(255,255,255,.08);
  border-radius: 999px;
  overflow: hidden;
  height: 14px;
}

.progress {
  width: 15%;
  height: 100%;
  background: #a855f7;
}

.partners-title {
  margin-top: 100px;
  margin-bottom: 35px;
  font-size: 32px;
}

.partner-slider {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 20px;
}

.partner-card {
  min-width: 240px;
  background: rgba(255,255,255,.08);
  backdrop-filter: blur(10px);
  border-radius: 22px;
  padding: 30px;
  text-align: center;
  flex-shrink: 0;
}

.partner-card .icon {
  font-size: 45px;
}

.partner-card h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.partner-card p {
  color: #cbd5e1;
}

.partner-slider::-webkit-scrollbar {
  display: none;
}

@media (max-width:768px) {
  h1 {
    font-size: 48px;
  }

  .subtitle {
    font-size: 20px;
  }

  .counter-number {
    font-size: 40px;
  }
}
